@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menu {
  // The menu will inherit font settings from global styles
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    color: $dark-color;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $dark-color;
      text-transform: uppercase;

      @include lg {
        display: none; /* Hide title on large screens */
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif; // Ensure font consistency here

      &:hover {
        background-color: $soft-bg;
        color: white; // Change text color to white on hover
      }

      .listItemTitle {
        @include lg {
          display: none; /* Hide list item title on large screens */
        }
      }

      @include sm {
        justify-content: center; /* Center items on small screens */
      }
    }
  }
}
