// background
$main-bg: #fff;
$soft-bg: #000000;
$dark-bg: #222b3c;
$independent-bg: #c3c3c3;
$hover-bg: #f1f1f1;

// text
$main-color: rgb(43, 42, 42);
$soft-color: #a8a4a4;
$dark-color: #19191a;
$light-color: #fff
