@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

$home-bg-color: #e0dcdc; // Mid white color for the home background
$box-bg-color: #ffffff; // White color for the boxes

body {
  // margin: 10; /* Remove default margin */
  background-color: $home-bg-color; /* Optional: Set a background color for the body */
}

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 20px;
  border-radius: 20px;
  background-color: $home-bg-color; // Set background color for the home section

  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-auto-rows: minmax(120px, auto);
  }

  // All boxes
  .box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add a shadow to all boxes
    background-color: $box-bg-color; // Set background color for each box
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 3;
  }

  .box4 {
    grid-column: span 1;
    grid-row: span 3;
  }

  .box7 {
    grid-column: span 2;
    grid-row: span 2;

    @include md {
      display: none;
    }
  }

  .box10 {
    grid-column: span 4;
    grid-row: span 3;
  }
}